<header>
    {{#if _id}}
        <h1>Edit todo</h1>
    {{else}}
        <h1>Add new todo</h1>
    {{/if}}
</header>
<main>

    <form method="post" class="todoNew">
        {{#if note}}
            <input type="hidden" name="_method" value="put"/>
        {{else}}
            <input type="hidden" name="_method" value="get"/>
        {{/if}}


        <label class="todoKey">Title:</label>
        <input type="text" name="title" value="{{valOrEmpty note.title}}" class="todoValue" placeholder="add title" required>

        <label class="todoKey">Description:</label>
        <textarea name="description" class="todoValue" placeholder="add description" required>{{valOrEmpty note.description}}</textarea>

        <label class="todoKey">Importance:</label>
        {{#if _id}}
            <input type="number" max="5" min="1" name="importance"
                   value="{{valOrEmpty note.importance}}" class="todoValue" required>
        {{else}}
            <input type="number" max="5" min="1" name="importance"
                   value="1" class="todoValue" required>
        {{/if}}

        <label class="todoKey">Date:</label>
        {{#if _id}}
            <input type="date" name="date" value="{{valOrEmpty note.date}}" class="todoValue" required>
        {{else}}
            <input type="date" name="date" value="2018-11-12" class="todoValue" required>
        {{/if}}

        <label class="todoValue">Finished
            <input type="checkbox" name="finished" class="todoValue"
                {{#if note.finished}}
                   checked
                {{/if}}
            ></label>

        <div class="todoValue">
            {{#if _id}}
                <button type="submit" name="save" value="true">Save</button>
            {{else}}
                <button type="submit" name="add" value="true">Add</button>
            {{/if}}
            <button type="submit" name="cancel" value="true" formnovalidate>Cancel</button>
        </div>
    </form>
    <div>
        <h3>DEBUG1:</h3>
        {{DEBUG1}}
    </div>

    <div>
        <h3>DEBUG2</h3>
        {{DEBUG2}}
    </div>
</main>
