<header>
  {{#if screenreader}}
    <form method="get">
      <button type="submit" name="screenreader" value="false">If you wanna see our selfmade controls, click this button</button>
    </form>
  {{else}}
    <form class="screenreader" method="get">
      <button type="submit" name="screenreader" value="true">If you have a screenreader, click this button.</button>
    </form>
  {{/if}}

  <div>
    <form class="left" method="get" action="/add">
      <button type="submit" name="newNote" value="true">Create new note</button>
    </form>

    <div class="right">
      {{availableStyles styleName screenreader}}
    </div>
  </div>

    {{filter filter screenreader}}
    {{availableOrders order screenreader}}
</header>
<main>
  {{notesList notes screenreader}}
</main>


<footer>
  <div>
    <h3>DEBUG:</h3>
    {{DEBUG}}
  </div>
</footer>